<ul class="tree-node">
    <li *ngFor="let node of Nodes">
        <i class="caret fa" [class.fa-caret-down]="node.IsExpanded" [class.fa-caret-right]="!node.IsExpanded"
            (click)="OnCaretClicked(node);"></i>
        <i *ngIf="node.Icon" [ngClass]="node.Icon"></i>
        <i *ngIf="!node.Icon" class="fa tree-node-icon" [class.fa-folder-open]="node.IsExpanded" [class.fa-folder]="!node.IsExpanded"></i>
        <span>{{node.Label}}</span>
        <div *ngIf="node.IsExpanded && node.Children">
            <ctrl-tree [Nodes]="node.Children"></ctrl-tree>
        </div>
    </li>
</ul>