<eui-panel [border]="false">
    <ng-container *ngFor="let command of Commands;">
        <eui-menubutton [plain]="true" [menu]="subMenu">{{command.Label}}</eui-menubutton>
        <eui-menu #subMenu (itemClick)="OnMenuClicked($event);">
            <ng-container *ngFor="let childCommand of command.Commands;">
                <eui-menu-sep *ngIf="childCommand.IsSeparator"></eui-menu-sep>
                <eui-menu-item *ngIf="!childCommand.IsSeparator" [text]="childCommand.Label"
                    [iconCls]="childCommand.IconClass">
                </eui-menu-item>
            </ng-container>
        </eui-menu>
    </ng-container>
</eui-panel>