<ng-container *ngFor="let menu of Menus;">
  <eui-menubutton [plain]="true" [menu]="subMenu">{{menu.Label}}</eui-menubutton>
  <eui-menu #subMenu (itemClick)="OnMenuClicked($event);">
    <ng-container *ngFor="let childMenu of menu.SubMenus;">
      <eui-menu-sep *ngIf="childMenu.IsSeparator"></eui-menu-sep>
      <eui-menu-item *ngIf="!childMenu.IsSeparator" [text]="childMenu.Label" [value]="childMenu.Command"
        [iconCls]="childMenu.IsCheckable ? (childMenu.IsChecked ? 'fas fa-check' : '') : childMenu.IconClass">
      </eui-menu-item>
    </ng-container>
  </eui-menu>
</ng-container>
