/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~ng-easyui/themes/gray/easyui.css';
@import '~ng-easyui/themes/angular.css';
@import '~ng-easyui/themes/icon.css';

@import './assets/styles/easyui-overrides.css';

html,
body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #efefef;
}
