/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~jqwidgets-scripts/jqwidgets/styles/jqx.base.css';

.full-size {
    width: 100%;
    height: 100%
}

html body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}