.fa {
    background-image: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.fa::before {
    font-size: 14px;
}

.fa.tree-folder:not(.tree-file)::before {
    content: "\f07b"
}

.fa.tree-folder-open:not(.tree-file)::before {
    content: "\f07c"
}